
/* header start here */
.well{
    padding:20px;
    background-color:#F5F5F5;
    border: 1px solid #D4D0D0;
    border-radius: 10px;
}

a:hover,a:focus{
    outline: none !important;
    text-decoration: none !important;
}


.cover-img{
   background: linear-gradient(to right, #0099ff -35%, #ff6699 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cover-img-text h1{
  color:#FCF764;
  text-shadow: 1px 1px #313030;
	
}

.cover-img-text{

    margin: 40px;
    color:white;
    text-shadow: 1px 1px #313030;
	
    
}




/* header close here */




/* switch button start here */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00B050;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00B050;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




/* switch button close here */


.col-form-label{
  
	font-size:16px;
	color:#4E4C4C !important;
        font-style: bold !important;
}
.form-group {
	margin:18px;
	margin-left:18px !important;
	padding:8px;
	
}
.smtp-setting-one-content{
	margin-top:3px !important;
	margin-bottom:50px !important;
        width: auto;
        position: relative;
}

.saving-settings{
	margin-bottom:-250px !important;
}



.gmail-back-color{
	width:auto !important;
    background: #B23121 !important;
    background-color: #B23121 !important;
    
}
.gmail-section-hr{
    
     margin-top:  -9px;
    border-top: 1px solid #B23121;
}
.smtp-section-hr{
   margin-top:  -9px;
  border-top: 1px solid #28A745;  
}

.microsoft-section-hr{
  margin-top:  -9px;
  border-top: 1px solid #17A2B8;  
}

.default-section-hr{
  margin-top:  -9px;
  border-top: 1px solid #FFC107;  
}

.label-text{
    margin-left: 10px;
    color:#949393 !important;
}

.mailer-section-label{
    
   font-size: 17px;
   text-align: center;
   margin-top: 60px;
   margin-bottom: 60px;
    
}
a.save-settings{
    display: inline-block;
    padding: 0.8em 1.2em;
    margin:0 0.1em 0.1em 0;
   color: #8788E0;
    background-color:#00B050;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    margin-top: 30px !important;
  
   
}
a:hover{
     text-decoration:none;
}

a.save-settings{
    display: inline-block;
    padding: 0.8em 1.2em;
    margin:0 0.1em 0.1em 0;
    color: white;
    background-color:#00B050;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    margin-top: 30px !important;
  
   
}

a.reset-settings{
    display: inline-block;
    padding: 0.8em 1.2em;
    margin:0 0.1em 0.1em 0;
   color: #8788E0;
    background-color:#FB9042;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    margin-top: 30px !important;
  
   
}
a:hover{
     text-decoration:none;
}

a.reset-settings{
    display: inline-block;
    padding: 0.8em 1.2em;
    margin:0 0.1em 0.1em 0;
    color: white;
    background-color:#FB9042;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    margin-top: 30px !important;

  
   
}
.float-right{
   float:right !important;
}




/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Rounded tabs */

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

.nav-item flex-sm-fill{

  height: 45px !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  height: 45px !important;

  background: linear-gradient(to right, #0099ff -35%, #ff6699 100%);
}


.smtp-main-container{

margin-top:70px !important;
}
.settings-tabs{
margin:39px !important;


}

.mailer-option-label{
    margin-left: 20px;
     margin-right:  20px;
    color :#707070;
    font-style: italic;
}

.gmail-icon{
    margin-top: -5px;
    margin-left: -10px;
    margin-right: 10px;
}
.smtp-icon{
    margin-top: -5px;
    margin-left: -5px;
    margin-right: 10px;
}

.lebelpossition{
    margin-left: -5px;
}

input.redio-color {
   transform: scale(2);
   
}
.connection-type-label{
    margin-left: 5px;
    color:#949393 !important;
    font-size: 14px;
}

.settings-label{
	margin-top:5555px !important;
	background-color:red;
}
.mailer-type{
	margin-left:-26px !important;
}


.kauniawebbranding{
 
  padding-top: 30px !important;
}

#smtpTab{
  padding-bottom: 35px;
  padding-top: 35px;
}


.savebtn {
  background-color: #00B050 !important ;
  border: none !important;
  color: white !important;
  padding: 15px 20px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  border-radius: 25px !important;
}

.resetbtn {
  background-color:#FB9042 !important ;
  border: none !important;
  color: white !important;
  padding: 15px 20px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  border-radius: 25px !important;
  
}

#kau-alert-msg{
  font-size: 20px !important;
  font-weight: bold;
  font-style: italic;
}

/* Darker background on mouse-over */
.savebtn:hover,.resetbtn:hover{
    background: linear-gradient(to right, #0099ff -35%, #ff6699 100%) !important;
}

a.authentication-button{
    display: inline-block;
    padding: 0.8em 1.2em;
    margin:0 0.1em 0.1em 0;
   color: #8788E0;
    background-color:#00B050;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    margin-top: 30px !important;
  
   
}
a:hover{
     text-decoration:none !important;
    
;
}

a.authentication-button{
    display: inline-block;
    padding: 0.8em 1.2em;
    margin:0 0.1em 0.1em 0;
    color: white;
    background-color:#00B050;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    margin-top: 30px !important;
  
   
}

